/* Import for the fonts used in the website */
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Fredoka:wght@300..700&display=swap');

body {
    display: flex;
    flex-wrap: nowrap;
    margin: 0%;
    background-image: url(assets/background.jpg);
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* This part is for changing the color of the links depending on wich action is executting */
a:link {
    color: #79AE6F;
}
a:visited {
    color: #346739;
}
a:hover {
    color: #094100;
    text-decoration: underline;
}
a:active {
    color: #094100;
}

header {
    color: #346739;
    text-align: center;
    font-size: 30px;
    font-family: "Chango";
    width: 100%;
}

#about_me {
    width: 50%;
    font-size: 1.5vmax;
    font-family: "Fredoka";
    margin-right: 25%;
    margin-left: 25%;
    word-wrap: break-word;
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
}
/* This is the glass background of the about me  */
#about_me .glass {
    width: 100%;
    height: 100%;
    top: 0px;
    left: -10px;
    background-color: antiquewhite;
    position: absolute;
    backdrop-filter: blur(5px);
    border: 5px solid rgba(255, 237, 212, 0.3);
    border-radius: 15%;
    opacity: 0.5;
    z-index: -1;
}

#proyects {
    font-family: "Fredoka";
    position: relative;
    margin: 20px;
}

/* This is the glass background of the proyects section  */
#proyects .glass {
    width: 100%;
    height: 100%;
    background-color: grey, .3;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -10px;
    backdrop-filter: blur(5px);
    border: 5px solid rgba(209, 213, 219, 0.3);
}

#proyects_title {
    font-family: "Chango";
    color: #346739;
}

#contact form {
    font-family: "Fredoka";
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 3px;
}

#contact #name {
    background-color: #79AE6F;
    border: #346739 solid 3px;
    border-radius: 30px;
    height: 30px;
    width: 300px;
}

#contact #password {
    background-color: #79AE6F;
    border: #346739 solid 3px;
    border-radius: 30px;
    height: 30px;
    width: 300px;
}

#submit {
    color: #346739;
    background-color:#79AE6F;
    border:#094100 solid 1px;
    border-radius: 40px;
    height: 30px;
}

#gallery {
    width: 30%;
    height: 80vh;
    margin: 5%;
    margin-bottom: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
}

#gallery article img {
    width: 100%;
    height: 70%;
    border-radius: 20%;
    border: #094100 solid 3px;
}

#gallery article p {
    background-color: #79AE6F;
    padding: 5px;
    border-radius: 10px;
    border: #346739 solid 2px;
    font-size: 1vmax
}

#index_link {
    font-size: 30px;
    background-color: #79AE6F;
    border-radius: 30px;
    padding: 10px;
    border: #346739 solid 3px;
}