:root{
    --background-color1: rgb(0, 0, 0);
    --background-color2: #141414;
    --background-color3: #181818;
    --background-color4: #141414;
    --background-color5: rgb(0, 0, 0);
    --text-color: #ffffff8e;
    --glass-background-color: rgba(255, 255, 255, 0.17); 
    --glass-border-values: 1px solid rgba(255, 255, 255, 0.3);
    --glass-shadow-values: 0 4px 30px rgba(0, 0, 0, 0.1);
    --visited-link-color: #7978788e;
    --font-space-grotesk: "Space Grotesk", sans-serif;
}
