:root{
    --background-color1: #E02B6E;
    --background-color2: #E0572B;
    --background-color3: #E0362B;
    --background-color4: #E02BDB;
    --background-color5: #E0762B;
    --background-color6: #E07D75;
    --header-background-color: rgba(0, 0, 0, 0.78);
    --text-color: #ffffff;
    --text-color2: #000000;
    --glass-background-color: rgba(255, 255, 255, 0.17); 
    --glass-background-color2: rgba(0, 0, 0, 0.17); 
    --glass-border-values: 1px solid rgba(255, 255, 255, 0.3);
    --glass-shadow-values: 0 4px 30px rgba(0, 0, 0, 0.1);
    --visited-link-color: #9c9c9c;
    --font-space-grotesk: "Space Grotesk", sans-serif;
}
